nav {
    background-color: black;
    padding: 1px;
}

.navbar {
    float: right;
    margin-top: -40px;
    margin-right: 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.logo {
    color: white;
    margin-left: 20px;
}