.container {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    border: 2px solid black;
    flex: wrap;
}

.box {
    height: 200px;
    width: 100px;
    border: 2px dotted lightsalmon;
    margin: 20px;
}